@import '../../styles';

.button {
  display: block;
  width: 130px;
  height: 48px;
  border-radius: 24px;
  background-color: #f9c06a;
  border: 1px solid #f9c06a;
  @include text($primary-white, 300, 16px, Playfair Display);
  color: #1e1e1e;
}

.landingBgr {
  @include preview-img(url(./assets/landing.png), 100%, 100%, cover);
  background-position: center;

  .landing {
    @include flexbox(center, flex-start, column, 20px);
    @include section(auto, 5% 0);

    h1 {
      @include text($primary-white, 400, 220px, Clicker Script);
      max-width: 527px;
    }

    p {
      @include text($primary-white, 300, 22px, Playfair Display);
      max-width: 527px;
    }
  }
}

.coffeeDiscovery {
  @include section(auto, 5% 0);
  @include flexbox(space-between, center, row, 30px);

  h2 {
    @include text(#603809, 700, 54px, Playfair Display);
  }

  p {
    @include text(#707070, 400, 20px, Playfair Display);
  }

  .content {
    @include flexbox(center, flex-start, column, 30px);
  }

  img {
    mix-blend-mode: multiply;
  }
}

.menu {
  @include section(auto, 5% 0);
  @include flexbox(center, center, column, 20px);

  h2 {
    @include text(#603809, 700, 54px, Playfair Display);
  }

  p {
    @include text(#707070, 400, 20px, Playfair Display);
  }

  .content {
    @include flexbox(center, flex-start, row, 30px);
    flex-wrap: wrap;

    .item {
      background-color: #fff9f1;
      border: 1px solid #f9c06a;
      max-width: 280px;

      .itemsSize {
        display: flex;
        gap: 20px;
        align-items: center;
      }

      .count_button {
        width: 81px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #403f3d;
        background-color: #fff;
        border-radius: 100px;
        padding: 8px 16px 8px 8px;

        .size {
          width: 30px;
          height: 30px;
        }

        &:hover {
          transform: scale(1.1);
          box-shadow: 5px 5px 10px #403f3dd0;
          border: 1px solid #403f3d;
          background-color: #403f3d;
          border-radius: 100px;
          padding: 8px 16px 8px 8px;

          & .count {
            color: #fff;
          }

          & .size {
            background-color: #fff;
            color: #403f3d;
            border-radius: 100px;
          }
        }
      }
    }

    .itemInfo {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 14px 0 42px;

      h3 {
        @include text(#603809, 700, 26px, Playfair Display);
      }
    }
  }
}

.about {
  @include section(auto, 5% 0);
  @include flexbox(center, center, column, 20px);

  h2 {
    @include text(#603809, 700, 54px, Playfair Display);
  }

  h3 {
    @include text(#603809, 700, 30px, Playfair Display);
  }

  p {
    @include text(#707070, 400, 20px, Playfair Display);
  }

  .content {
    @include flexbox(center, flex-start, row, 30px);
    flex-wrap: wrap;

    .item {
      background-color: #fff9f1;
      border: 1px solid #f9c06a;
      width: 280px;
      @include flexbox(center, center, column, 25px);
      padding: 36px 0;
    }

    img {
      display: block;
    }

    .itemInfo {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      text-align: center;
      max-width: 200px;

      h3 {
        @include text(#603809, 700, 26px, Playfair Display);
      }
    }
  }
}

.coffeeBgr {
  @include preview-img(url(./assets/coffeeBgr.png), 100%, 100%, cover);
  background-position: center;

  .coffee {
    @include flexbox(space-between, center, row, 0px);
    @include section(auto, 5% 0);

    .content {
      @include flexbox(center, flex-start, column, 25px);
      max-width: 575px;
    }

    h2 {
      @include text($primary-white, 700, 54px, Playfair Display);
    }

    p {
      @include text($primary-white, 300, 22px, Playfair Display);
    }
  }
}

.slider {
  @include flexbox(center, center, column, 20px);
  @include section(auto, 5% 0);

  h2 {
    @include text(#603809, 700, 54px, Playfair Display);
  }

  p {
    @include text(#707070, 400, 20px, Playfair Display);
  }
}

@media screen and (min-width: 767px) and (max-width: 1210px) {
  .button {
    width: 110px;
    height: 38px;
    border-radius: 20px;
    @include text($primary-white, 300, 14px, Playfair Display);
    color: #1e1e1e;
  }

  .landingBgr {
    .landing {
      h1 {
        @include text($primary-white, 400, 180px, Clicker Script);
        max-width: 400px;
      }

      p {
        @include text($primary-white, 300, 18px, Playfair Display);
        max-width: 400px;
      }
    }
  }

  .coffeeDiscovery {
    h2 {
      @include text(#603809, 700, 46px, Playfair Display);
    }

    p {
      @include text(#707070, 400, 24px, Playfair Display);
    }

    img {
      width: 305px;
    }
  }

  .menu {
    h2 {
      @include text(#603809, 700, 46px, Playfair Display);
    }

    p {
      @include text(#707070, 400, 24px, Playfair Display);
    }
    .content {
      @include flexbox(center, flex-start, row, 5px);
    }
  }

  .about {
    h2 {
      @include text(#603809, 700, 46px, Playfair Display);
    }

    h3 {
      @include text(#603809, 700, 24px, Playfair Display);
    }

    p {
      @include text(#707070, 400, 18px, Playfair Display);
    }

    .content {
      @include flexbox(center, flex-start, row, 10px);

      .item {
        width: 280px;
        @include flexbox(center, center, column, 30px);
      }
      .itemInfo {
        h3 {
          @include text(#603809, 700, 24px, Playfair Display);
        }
      }
    }
  }

  .coffeeBgr {
    .coffee {
      .content {
        max-width: 400px;
      }

      h2 {
        @include text($primary-white, 700, 46px, Playfair Display);
      }

      p {
        @include text($primary-white, 300, 18px, Playfair Display);
      }
    }
    img {
      width: 305px;
    }
  }

  .slider {
    h2 {
      @include text(#603809, 700, 46px, Playfair Display);
    }

    p {
      @include text(#707070, 400, 18px, Playfair Display);
    }
  }
}

@media screen and (max-width: 767px) {
  .button {
    width: 100px;
    height: 30px;
    border-radius: 18px;
    @include text($primary-white, 300, 12px, Playfair Display);
    color: #1e1e1e;
  }

  .landingBgr {
    .landing {
      h1 {
        @include text($primary-white, 400, 130px, Clicker Script);
        max-width: 300px;
      }

      p {
        @include text($primary-white, 300, 16px, Playfair Display);
        max-width: 300px;
      }
    }
  }

  .coffeeDiscovery {
    h2 {
      @include text(#603809, 700, 30px, Playfair Display);
    }

    p {
      @include text(#707070, 400, 20px, Playfair Display);
    }

    img {
      width: 235px;
    }
  }

  .menu {
    h2 {
      @include text(#603809, 700, 30px, Playfair Display);
    }

    p {
      @include text(#707070, 400, 20px, Playfair Display);
      text-align: center;
    }
    .content {
      @include flexbox(center, flex-start, column, 20px);
    }
  }

  .about {
    h2 {
      @include text(#603809, 700, 30px, Playfair Display);
    }

    h3 {
      @include text(#603809, 700, 20px, Playfair Display);
    }

    p {
      @include text(#707070, 400, 12px, Playfair Display);
    }

    .content {
      @include flexbox(center, flex-start, column, 10px);

      .item {
        @include flexbox(center, center, column, 30px);
      }

      .itemInfo {
        h3 {
          @include text(#603809, 700, 20px, Playfair Display);
        }
      }
    }
  }

  .coffeeBgr {
    .coffee {
      h2 {
        @include text($primary-white, 700, 30px, Playfair Display);
      }

      p {
        @include text($primary-white, 300, 12px, Playfair Display);
      }
    }
    img {
      width: 235px;
    }
  }

  .slider {
    h2 {
      @include text(#603809, 700, 30px, Playfair Display);
    }

    p {
      @include text(#707070, 400, 12px, Playfair Display);
    }
  }
}
